{% extends 'management/dashboard.html' %}

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
     
     {% block content %}

  <br>
    
    <div class="container">
      <form action="." method="post" enctype="multipart/form-data" style="text-shadow: 1px 1px 1px #ffffff;font-size:larger;;margin-right: 700px;box-shadow: 6px 6px 6px #000000;">
          {% csrf_token %}
          
          
          <br>
          
           <p style="font-size: large;">📷🎞{{form.as_p}}</p>
           
           <button type="submit" class="btn btn-outline-success">POST</button>
         <br>
         <br>
         
     

     </form>
  
        <br>
        <br>

         {% if obj %}
        <a class="btn btn-outline-danger" href="{% url 'images' %}">Back</a>
        <br>
        <br>
        <h3 style="text-shadow: 1px 1px 1px #ffffff;"> POSTED✔ </h3>
        <br>
        <img src="{{ obj.image.url}}" height="70%" width="70%"  alt="image" class="img-thumbnail" >
        {% endif %}
        <br>
        <br>
       <!-- <hr style="color: white;">-->
        
        {% for x in img %}
        {% if forloop.first %}<div class="row ">{% endif %}
        <div class="col-lg-3 col-md-4 col-9" >
          <div class="text-center mt-2">
     
            <h2 class="font-monospace" style="text-shadow: 1px 1px 1px white;margin-right: 90px; font-size: large;" >{{x.caption}}</h2></div>
            <img src="{{x.image.url}}" height="70%" width="70%"  class="border border-4 " alt="Image">
          </div>
         
          {% if forloop.counter|divisibleby:4 %}
        </div>
           <!-- <hr style="color: beige;box-shadow: 2px 2px 2px #000;">-->
            <div class=row>
          {% endif %}
          {% if forloop.last %}
           </div>
           {% endif %}

          {% endfor %}
            
          <br>
          <br>

          {% if  img.has_previous %}
   
          <a class="btn btn-outline-danger" href="?page=1" style="font-size: smaller;padding: 5px;">First</a>
      
        
             <a  class="btn btn-outline-light"  href="?page={{ img.previous_page_number }}" style="font-size: smaller;padding: 5px;">Prev</a>
          
          {% endif %}
    
          {% for i in page_list %}
          
            
               <a class="page-link;col-12"  href="?page={{i}}" style="text-decoration: none;margin-left: 10px;color:#000;text-shadow: 1px 1px 1px #ffffff;">{{i}}</a>
             
           
           {% endfor %}
    
       
    
            {% if img.has_next %}
    
             <a class="btn btn-outline-light" href="?page={{ img.next_page_number }}" style="font-size: smaller;padding: 5px;">Next</a>
     
        
             <a class="btn btn-outline-danger" href="?page={{ last }}" style="font-size: smaller;padding: 5px;">Last</a>
    
           {% endif %}
           <br>
           <br>
          

    </div>
      <br><br>


    
         

     
         
        
    </body>
</html>

{% endblock content %}









































